@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700;800;900&family=Darumadrop+One&display=swap");

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0px;
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: "Cinzel", "Times New Roman", Times, serif;
  background-color: maroon;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  padding-top: 5px;
}
.logo {
  margin-left: 50px;
  background-image: url(./images/Pup-logo.png);
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 200px;
}
header > h1 {
  margin: 0px;
  color: #ffffff;
  font-size: 5em;
  text-align: center;
}

.main-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campus-map-container {
  display: flex;
  border: 5px solid maroon;
  box-shadow: 6px 6px 1px #cccccc;
}
img {
  padding-bottom: 0px;
  display: block;
}

.info-container {
  background-color: #b90606;
  width: 350px;
  display: grid;
  grid-template-rows: 2.5fr 0.7fr 2fr;
  font-family: Arial, Helvetica, sans-serif;
}

.image-container {
  background-color: #800000;
  background-size: cover;
  background-position: center;
}

.title-container {
  background-color: maroon;
  box-shadow: 0px 10px 5px -3px #9d0505;
  color: #fede00;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container > h2 {
  margin: 0px;
  text-align: center;
  font-size: 2em;
}

.desc-container > p {
  margin: 15px 0.5em;
  font-size: 1.2em;
}

.chapel {
  background-image: url(./images/chapel.jpg);
}
.oval {
  background-image: url(./images/oval.jpg);
}
.main {
  background-image: url(./images/main.jpg);
}
.pool {
  background-image: url(./images/pool.jpg);
}
.canteen {
  background-image: url(./images/canteen.jpg);
}
.charlie {
  background-image: url(./images/charlie.jpg);
}
.lagoon {
  background-image: url(./images/lagoon.jpg);
}
.lab-high {
  background-image: url(./images/lab-high.jpg);
}
.freedom-park {
  background-image: url(./images/freedom-park.jpg);
}
.pylon {
  background-image: url(./images/pylon.jpg);
}
